    body {
        background-color: rgb(68, 68, 68);
    }
    
    .h {
        font-family: 'Lobster', cursive;
    }
    
    .first {
        background-color: #adb1b3;
        min-height: 50px;
        width: 400px;
        margin: 40px auto;
        border-radius: 20px;
        text-align: center;
        padding: 20px;
    }
    
    .second {
        background-color: rgb(68, 68, 68);
        border: 0;
        width: 200px;
        height: 50px;
        padding: 0 20px;
        margin: 20px;
        font-size: 18px;
        border-radius: 10px;
        color: lavender;
        margin-bottom: 50px;
    }
    
    button {
        height: 50px;
        width: 80px;
        border-radius: 10px;
        outline: none;
        border: none;
        background-color: rgb(111, 240, 85);
        cursor: pointer;
        font-weight: bolder;
        color: white;
    }
    
    .button {
        display: inline-flex;
        height: 50px;
        width: 80px;
        border-radius: 10px;
        outline: none;
        border: none;
        background-color: rgb(111, 240, 85);
        cursor: pointer;
        font-weight: bolder;
        color: white;
    }
    
    .button1 {
        margin-left: 30px;
        background-color: rgb(192, 13, 13);
        width: 200px;
    }
    
    .btnDel {
        background-color: rgb(192, 13, 13);
    }
    
    .todoitem {
        background-color: #717272;
        min-height: 10px;
        width: 400px;
        margin: 40px auto;
        border-radius: 20px;
        padding: 5px;
        color: white;
        font-size: 20px;
    }
    
    li {
        list-style-type: none;
        margin-left: 20px;
    }
    
    img {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
        border-radius: 500px;
        margin-left: 20px;
        margin-top: 70px;
        min-height: 50px;
        width: 400px;
        padding-right: 200px;
    }